body.dark {
  --color: #e0e0e0;
  --bg-color: #121212;
  .invertible {
    filter: invert(1) brightness(2);
  }
}
:root {
  --color: #121212;
  --bg-color: #e0e0e0;
}

body {
  transition: 0.1s;
  line-height: 1.6;
  margin: 0;
  min-height: 100dvh;
  font-family: "Courier New", Courier, monospace;
}

body {
  color: var(--color);
  background-color: var(--bg-color);
}

@media (max-width: 576px) {
  body {
    font-weight: 700;
  }
}

button,
input,
select,
textarea {
  background-color: var(--bg-color);
  color: var(--color);
  border: 1px solid #333333;
  padding: 8px 12px;
  border-radius: 4px;
}

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Header {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 3px #888888;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  font-family: "Courier New", Courier, monospace;

  .navbar {
    display: flex;
    flex-direction: row;
    width: 84%;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
    .name {
      padding: 10px 0px;
      .top {
        font-size: xx-large;
        font-weight: bold;
        line-height: 1.5;
        padding: 0;
      }
      .bottom {
        font-size: x-large;
        line-height: 1.5;
      }
    }
    .nav-links {
      display: flex;
      flex-direction: row;
      .dark_theme_button {
        img {
          height: 36px;
          width: 36px;
        }
      }
      li {
        padding: 10px;
        list-style: none;
        color: var(--color);
        align-items: center;
        justify-content: center;
        display: flex;
        a {
          color: var(--color);
          font-size: large;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .Header {
    .navbar {
      display: flex;
      flex-direction: column;
      width: 100%;
      .name {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        .top {
          font-size: xx-large;
          font-weight: bold;
          line-height: 1.5;
          padding: 0;
        }
        .bottom {
          font-size: large;
          line-height: 1.5;
          font-weight: bold;
        }
      }
      .nav-links {
        display: flex;
        flex-direction: row;
        .dark_theme_button {
          display: none;
          img {
            height: 36px;
            width: 36px;
          }
        }
        li {
          padding: 6px;
          list-style: none;
          color: var(--color);
          a {
            color: var(--color);
            font-size: medium;
          }
          a.active {
            font-weight: bold;
            text-shadow: 0 0 2px white, 0 0 4px white;
          }
        }
      }
    }
  }
}

.Footer {
  width: 100%;
  padding: 1.5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 3px #888888 inset;
  a {
    font-weight: bold;
  }
  p {
    font-size: large;
  }
  .mobile {
    display: none;
  }
}

@media (max-width: 576px) {
  .Footer {
    width: 100%;
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    .desktop {
      display: none;
    }
    .mobile {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      img {
        height: 32px;

        margin: 10px 20px;
      }
    }
    p {
      font-size: x-large;
      align-self: center;
      display: none;
    }
  }
}

.quote {
  border: 5px solid var(--color);
  .quoteText {
    max-width: 240px;
  }
}

.shadowup {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 3px rgba(245, 245, 245, 0.05) inset;
}
.shadowdown {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 3px rgba(245, 245, 245, 0.05);
}

.ProjectCard {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 5px rgba(245, 245, 245, 0.05);
  img {
    aspect-ratio: 3/4;
    object-fit: fill;
    position: absolute;
    top: 0;
    background-position: top;
  }
  .shade {
    background-image: linear-gradient(#00000000, #000000ff);
    width: 300px;
    height: 400px;
    position: absolute;
    top: 0;
  }
  .content {
    z-index: 1;
    position: absolute;
    bottom: 0;
    .spinners {
      padding: 10px;
      .spinner {
        padding: 4px 8px;
        border: solid 1px white;
        margin: 4px;
        border-radius: 50px;
      }
    }
  }
}

.Gallery {
  .GalleryImage {
    max-width: 45%;
    max-height: 90vh;
    margin: 20px;
  }
}

.home {
  height: 100%;
  .homebox {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    margin: auto;
    height: 100%;
    justify-content: space-between;
    .left {
      display: flex;
      flex-direction: column;
      padding: 5rem;
      .resumeButtons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .resumeButton {
          border-radius: 100px;
          background-color: #111111;
          color: white;
          padding: 0.5rem 1rem;
          margin: 2rem 3rem;
          a {
            color: #ffffff;
          }
        }
      }
    }
    .right {
      display: flex;
      .quote {
        padding: 3rem;
        min-width: 60%;
        max-width: 100%;
        .quoteText {
          font-weight: bold;
          color: var(--color);
          width: auto;
          text-align: center;
          font-size: x-large;
          line-height: normal;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .home {
    .homebox {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
      justify-content: space-between;
      .left {
        display: flex;
        flex-direction: column;
        padding: 20% 10px;
        .resumeButtons {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          .resumeButton {
            border-radius: 100px;
            background-color: #111111;
            color: white;
            padding: 0.5rem 1rem;
            margin: 20px 0px;
            a {
              color: #ffffff;
            }
          }
        }
      }
      .right {
        display: none;
      }
    }
  }
}

@media (max-width: 999px) {
  .home {
    .homebox {
      .right {
        display: none;
      }
    }
  }
}

.About {
  .AboutMe {
    display: flex;
    flex-direction: row;
    width: 84%;
    margin: 10px auto;
    padding: 20px;
    .AboutText {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 32px 64px;
      .Title {
        font-size: xx-large;
        text-align: center;
        font-weight: bold;
      }
      p {
        font-size: large;
        text-align: center;
        margin-bottom: 15px;
      }
    }
  }
  .Education {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 84%;
    margin: 10px auto;
    padding: 24px;
    .Title {
      font-size: 36px;
      font-weight: bold;
      text-align: center;
    }
    .EduList {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: stretch;
      .Edu {
        width: 100%;
        padding: 20px;
        .EduTitle {
          display: flex;
          justify-content: space-between;
          .title {
            font-size: x-large;
            font-weight: bold;
          }
          .timeline {
            font-size: large;
          }
        }
        .EduSubtitle {
          display: flex;
          justify-content: space-between;
          .subtitle {
            font-size: large;
            font-style: italic;
          }
          .score {
            font-size: large;
            font-style: italic;
          }
        }
        h2 {
          text-align: center;
          font-size: 28px;
          font-weight: bold;
          margin-bottom: 10px;
        }
        ul {
          list-style-type: disc;
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .About {
    .AboutMe {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 10px auto;
      padding: 20px;
      img {
        width: 100%;
      }
      .AboutText {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 32px 12px;
        .Title {
          display: none;
        }
        p {
          text-align: center;
        }
      }
    }
    .Education {
      align-self: center;
      width: 100%;
      margin: 10px auto;
      padding: 12px;
      .Title {
        font-size: 28px;
        font-weight: bold;
        text-align: center;
      }
      .EduList {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        .Edu {
          width: 100%;
          padding: 20px;
          h2 {
            text-align: center;
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 10px;
          }
          ul {
            list-style-type: disc;
            font-size: 18px;
          }
          .EduTitle {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .title {
              font-size: large;
              font-weight: bold;
            }
            .timeline {
              font-size: medium;
              text-align: end;
            }
          }
          .EduSubtitle {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .subtitle {
              font-size: medium;
              font-style: italic;
            }
            .score {
              text-align: end;
              font-size: medium;
              font-style: italic;
            }
          }
        }
      }
    }
  }
}

.Experience {
  width: 84%;
  margin: 10px auto;
  padding: 24px;
  .heading {
    font-size: 32px;
  }
  .titlebox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .title {
      font-size: large;
      font-weight: bold;
    }
    .timeline {
      font-size: large;
      font-weight: 800;
    }
  }
  .container {
    padding: 48px 24px;
  }
  ol {
    padding: 24px;
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .Experience {
    width: 100%;
    margin: 10px auto;
    padding: 0px;
    .heading {
      padding: 6px 24px;
      font-size: 26px;
    }
    .titlebox {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .title {
        font-size: large;
        font-weight: bolder;
      }
      .timeline {
        font-size: medium;
        font-weight: bold;
        font-style: italic;
      }
    }
    .container {
      padding: 24px 12px;
    }
    ol {
      padding: 12px;
      margin-bottom: 20px;
      li {
        margin: 4px 2px;
      }
    }
  }
}

.Skills {
  width: 84%;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .title {
    width: 100%;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
  }
  .skill {
    width: 50%;
    padding: 20px;
    h2 {
      text-align: center;
      font-weight: bold;
    }
  }
  ul {
    list-style-type: disc;
    font-size: 18px;
    li {
      padding: 5px;
    }
  }
}

@media (max-width: 576px) {
  .Skills {
    width: 100%;
    margin: 20px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .title {
      width: 100%;
      font-size: xx-large;
      font-weight: bold;
      text-align: center;
    }
    .skill {
      width: 100%;
      padding: 20px;
    }
  }
}

// Also woks for the mobile version
.Login{
  background-color: var(--bg-color);
  border:1px solid var(--color);
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  padding: 20px;
  border-radius: 20px;
  form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0px auto;
    padding: 20px 0px;
    text-align: center;
    h1{
      font-size: xx-large;
    }
    input{
      border-radius: 1000px;
      padding: 12px 16px;
      font-size: large;
    }
    button{
      border-radius: 1000px;
      padding: 12px 16px;
      font-size: large;
    }
  }
}

.Admin{
  display: flex;
  flex-direction: row;
  width: 75%;
  height: 100%;
  min-height: 50dvh;
  margin: 30px auto;
  .SidePanel{
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--color);
    position: sticky;
    top: 20%;
    width: 15%;
    .PanelButton.Selected{
      background-color: color-mix(in srgb, #00000000 90%, var(--color) 10%);
    }
    button{
      border: none;
      text-align: end;
      font-size: large;
      font-weight: bold;
    }
  }
  .MainPanel{
    width: 100%;
    height: 100%;
  }
}

.PagesEdit{
  .sections{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .section{
      display: flex;
      flex-direction: row;
      .title{
        width: 30%;
        text-align: end;
        font-size: x-large;
        padding: 16px;
        border-right: 2px solid var(--color);
      }
      .editbox{
        width: 70%;
        input{
          width: 100%;
          min-height: 100%;
          margin-left: 20px;
        }
        textarea{
          width: 100%;
          min-height: 100%;
          margin-left: 20px;
          height: auto;
        }
        img{
          width: 30%;
          margin-left: 20px;
        }
        button{
          margin-left: 20px;
          margin-top: 20px;
        }
      }
    }
  }
}