$primary-light:white;
$primary-dark:#111111;

@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    font-family: 'Roboto', Courier, monospace;
}

.dark{
    background-color: $primary-dark;
    color: $primary-light;
}
.light{
    color: $primary-dark;
    background-color: $primary-light;
}