@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 16, 16, 16;
    --background-end-rgb: 16, 16, 16;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    min-width: 1080px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.Header {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 3px rgba(245, 245, 245, 0.05);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

.Footer {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 3px rgba(245, 245, 245, 0.05) inset;
}

.quote {
  border: 5px solid #eee;
  .quoteText {
    max-width: 240px;
  }
}

.shadowup {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 3px rgba(245, 245, 245, 0.05) inset;
}
.shadowdown {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 3px rgba(245, 245, 245, 0.05);
}

.ProjectCard {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 5px rgba(245, 245, 245, 0.05);
  img {
    aspect-ratio: 3/4;
    object-fit: fill;
    position: absolute;
    top: 0;
    background-position: top;
  }
  .shade{
    background-image: linear-gradient(#00000000,#000000FF);
    width: 300px;
    height: 400px;
    position: absolute;
    top: 0;
  }
  .content {
    z-index: 1;
    position: absolute;
    bottom: 0;
    .spinners {
      padding: 10px;
      .spinner {
        padding: 4px 8px;
        border: solid 1px white;
        margin: 4px;
        border-radius: 50px;
      }
    }
  }
}


.Gallery{
  .GalleryImage{
    max-width: 45%;
    max-height: 90vh;
    margin: 20px;
  }
}